{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base.html Document</title>
    <link rel="shortcut icon" type="image/png" href="..\..\static\Images\Gamli.png">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/nav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  </head>

  <body>

    <div class="grid">
    {% include 'navigation.html' %}


    <span class="main-page">

        <div class="content-container">

          <!-- This lets us extend index.html from product to the base.html-->
          <!-- Think of this as an import statement-->
        <!-- product/index.html -->
         {% block content %} {% endblock %}
        </div>
    </span>

    {% include 'footer.html' %}

    <!-- Bootstrap JavaScript import-->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="{% static 'JS/search.js' %}"></script>
    <script src="{% static 'JS/login.js' %}"></script>
    <script src="{% static 'JS/products.js' %}"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    </div>
  </body>
</html>
