<!-- Footer -->
<footer class="page-footer font-small cyan darken-3" id="footer-color">

  <!-- Footer Elements -->
  <div class="container footer-padding">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase"><a class="footer-links" href="/">Contact Us</a></h5>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
            <h5 class="text-uppercase"><a class="footer-links" href="/">About Us</a></h5>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
            <h5 class="text-uppercase"><a class="footer-links" href="/">Terms</a></h5>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
            <h5 class="text-uppercase"><a class="footer-links" href="/">Social</a></h5>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
            <h5 class="text-uppercase"><a class="footer-links" href="/">Accounts</a></h5>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

    <!-- Grid row-->
    <div class="row">
        <p id="news-text">Sign up for Game Go’s news letter</p>
    </div>
    <!-- Grid row -->

    <!-- Grid row-->
    <div class="row">
        <form class="form-inline my-2 my-lg-0" id="news-signup">
            <input class="form-control mr-sm-2" type="search" placeholder="Email" aria-label="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Sign up</button>
        </form>
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Elements -->

</footer>
<!-- Footer -->

