<div class="nav-container">

  <div class="logo-container">
      <a href="/">
        <img class="logo" src="../../../../static/Images/logo.png">
      </a>
  </div>

  <div class="input-group">
      <form>
          <input type="search" class="search-bar" name="search_filter" placeholder="Enter search">
          <div class="input-group-btn">
            <a href="{% url 'product-index' %}?search_filter">
                <button type="submit" class="submit"><i class="fa fa-search"></i></button>
            </a>
          </div>
      </form>
{#      <input type="search" class="search-bar" id="search-box" name="search" placeholder="Enter search">#}
{#      <div class="input-group-btn">#}
{#        <a href="/">#}
{#            <button type="button" id="search-btn" class="submit"><i class="fa fa-search"></i></button>#}
{#        </a>#}
  </div>

<div class="dropdown">
<div class="dropdown-container">
  <div class="login-container">
      <!--LOGIN dropdown -->
      <ul>
        <li id="login">

            <div id="login-trigger" href="{% url 'login' %}">
                {% if user.is_authenticated %}
                  {% if user.imgURL %}
                    <img src="{{ user.imgURL }}" style="height: 50px; width: 50px; border-radius: 50%" class="far fa-user">
                  {% else %}
                    <i class='far fa-user'></i>
                  {% endif %}
                    <a id="hello">{{ user.firstName }}</a>
                    <a id="my-account">{{ user.lastName }}</a>
                {% else %}
                    <i class='far fa-user'></i>
                    <a id="hello">Hello, log in?</a>
                    <a id="my-account">My Account</a>
                {% endif %}
                <span id="arrow">▼</span>
            </div>

            <div id="login-content">
                <div id="login-content-flex">

                  {% if user.is_authenticated %}
                      <a class="btn btn-primary" href='{% url 'logout' %}'>Logout</a>
                      <a class="btn btn-success" href='{% url 'account' %}'>Account</a>
                  {% else %}
                      <a class="btn btn-primary" href={% url  'login' %}>Login</a>
                      <a class="btn btn-secondary caa" href={% url  'register' %}>
                          Create an account
                      </a>
                  {% endif %}
                </div>
            </div>

        </li>
      </ul>
  </div>


  <div class="login-container">
      <!--LOGIN dropdown -->
      <ul>
        <li id="login">
          <div id="login-trigger" href="#">
            <i class='fas far fa-shopping-cart'></i>
            <a href="{% url 'getCart' %}" id="hello">View My Cart</a>
            <a href="{% url 'getCart' %}" id="my-account">My Cart</a>
            {% comment %}<span id="arrow">▼</span>{% endcomment %}
          </div>
        </li>
      </ul>
  </div>

</div>
</div>
</div>
