<div class="nav-container">

  <div class="logo-container">
      <a href="/">
        <img class="logo" src="static/Images/logo.png">
      </a>
  </div>

    <!-- search bar -->
 <!-- <div class="search-bar-container">
  <form>
      <input class="search-bar" id="search-box" type="search" placeholder="Search" aria-label="Search">
      <div class="input-group-btn">
        <button class="submit" id="search-btn" type="button"><i class="fa fa-search"></i></button>
      </div>
  </form>
  </div>-->

  <div class="input-group">
      <input type="search" class="search-bar" id="search-box" placeholder="Enter search">
      <div class="input-group-btn">
        <button type="button" id="search-btn" class="submit" ><i class="fa fa-search"></i></button>
      </div>
  </div>

<div class="dropdown-container">
  <div class="login-container">
      <!--LOGIN dropdown -->
      <ul>
        <li id="login">
          <div id="login-trigger" href="{% url 'login' %}">
            {% if user.is_authenticated %}
              <img src="{{ user.imgURL }}" style="height: 50px" class="far fa-user">
                <a id="hello">{{ user.firstName }}</a>
                <a id="my-account">{{ user.lastName }}</a>
              {% else %}
            <i class='far fa-user'></i>
            <a id="hello">Hello, log in?</a>
            <a id="my-account">My Account</a>
              {% endif %}
            <span id="arrow">▼</span>
          </div>

          <div id="login-content">
              {% if user.is_authenticated %}
                <a class="btn btn-primary" href='{% url 'logout' %}'>Logout</a>
                  <a class="btn btn-success" href='{% url 'account' %}'>Account</a>
              {% else %}
                  <a class="btn btn-primary" href={% url  'login' %}>Login</a>
                  <a class="btn btn-secondary" href={% url  'register' %}>Create an account</a>
              {% endif %}
          </div>

        <div class="dropdown">


</div>

        </li>
      </ul>
  </div>


  <div class="login-container">
      <!--LOGIN dropdown -->
      <ul>
        <li id="login">
          <div id="login-trigger" href="#">
            <i class='fas far fa-shopping-cart'></i>
            <a id="hello">
              View My Cart
            </a>
            <a id="my-account">My Cart
            </a>
            <span id="arrow">▼</span>
          </div>
        <!--{% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>

        {% else %}
            <a href={% url  'register' %}>Create an account</a>
            <a href={% url  'login' %}>Login</a>
        {% endif %}-->

          <!--<div id="login-content">
            <form>
              <fieldset id="inputs">
                <input  id="username"
                        type="email"
                        name="Email"
                        placeholder="Your email address"
                        required>
                <input  id="password"
                        type="password"
                        name="Password"
                        placeholder="Password"
                        required>
              </fieldset>
              <fieldset id="actions">
                <input  type="submit"
                        id="submit"
                        value="Log in">
                <label>
                  <input  type="checkbox"
                          checked="checked">
                  Keep me signed in
                </label>
              </fieldset>
            </form>
              <a href="/user/register">Create an account</a>
          </div>-->
        </li>
      </ul>
  </div>

{#    {% if user.is_authenticated %}#}
{#        <a href="{% url 'profile' %}"><img src="{{ user.imgURL }}" style="height: 50px" ></a>#}
{#        <a class="btn btn-danger" href="{% url 'logout' %}">Logout</a>#}
{##}
{#    {% else %}#}
{#        <a href={% url  'register' %}>Create an account</a>#}
{#        <a class="btn btn-primary" href={% url  'login' %}>Login</a>#}
{#    {% endif %}#}

</div>
</div>

