{% extends "base.html" %}

{% block content %}
    {% if hasPaymentMethod %}
        <h2>Edit Payment Method</h2>
    {% else %}
        <h2>Add Payment Method</h2>
    {%  endif %}
    <div class="profile">
        <form class="form form-horizontal" action="{% url 'updateBillingAddress' %}" method="post">
            {% csrf_token %}
            {{ updateShippingAddressForm.as_p }}
            <input type="submit" class="btn btn-primary" value="Save Changes">
            <a href= "{% url 'account' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>

{% endblock %}