{% block content %}
    <div class="profile">
        <h1>Payment Method </h1>
        {% if hasPaymentMethod %}
            <p> <b> Name: </b> {{ pm.nameOnCard.title }}</p>
            <p> <b> Card Number: </b> {{ pm.getCardNumber }}</p>
            <p> <b> Expiration: </b> {{ pm.cardExpiry }}</p>
            <p> <b> CVC: </b> {{ pm.cvc }}</p>
            <a class="btn btn-primary" style="width: 14rem" href="{% url 'updatePaymentMethod' %}">Edit Payment Method</a>
        {% else %}
            <p> No payment method currently registered</p>
            <a class="btn btn-primary" style="width: 14rem" href="{% url 'updatePaymentMethod' %}">Add Payment Method</a>
        {% endif %}
    </div>
{% endblock %}