body {
    font-family: 'Roboto';
}

.multi-product-container {
    width: 15rem;
    height: 20rem;

    padding: 1rem;

    display: grid;
    justify-content: stretch;
    align-items: center;
    text-align: center;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 5fr 1fr 1fr 1fr 1fr;



    background-color: #F9F9F9;
    border-radius: 25px 0px 25px 0px;
    box-shadow: 6px 6px 15px rgba(0,0,0,.2);

    justify-self: center;

}

/* unvisited link */
a {
  color: #494949;
}



/* mouse over link */
a:hover {
  text-decoration: none;
  color: black;
}

.images {
    max-height: 10rem;



}

.grid-image {
    justify-self: center;
    grid-column-start: 2;



    grid-row-start: 1;
    grid-row-end: 1;
}

.product-price {
    font-weight: bold;
    grid-column-start: 2;
    justify-self: start;
    align-self: end;
    margin-bottom: 3px;
}

.product-name {
    grid-column-start: 2;

}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}


hr {
    justify-self: center;
    width: 100%;


    border: 0;
    border-top: 2px solid #ccc;
    margin: 1em 0;
    padding: 0;
    grid-column-start: 2;

    grid-row-start: 2;
    grid-row-end: 2;
}

.atc-btn {
    grid-column-start: 2;
    justify-self: center;
    width: 100%;
    height: 2rem;
    display:block;
    background-color: #C7DAC7;
    color: #494949;
    border: none;
    outline: none;
    border-radius: 10px;

}

.atc-btn-min {
    grid-column-start: 2;
    justify-self: center;
    width: 80%;
    height: 3rem;
    display:block;
    background-color: #C7DAC7;
    color: #494949;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.products-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: end;
    grid-gap: 2rem;
    margin-top: 2rem;
}

#sidebar {
    grid-row-start: 1;
    grid-column-start: 2;
}

.content-container {
    display: grid;
    grid-template-columns: 10% 1fr 3fr 10%;
}

.min-height {
    grid-column-start: 3;
}

.profile{
  width: fit-content;
  padding: 20px;
  background-color: lightgrey;
  border: darkcyan;
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
}

.product-name-details {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 1rem;
}

.details-container {
    height: 23rem;
    width: 24rem;
}

.image-container {
    background-color: #EDEDED;
    grid-column-start: 1;
    display: grid;
    justify-content: center;
}

.product-details {
    grid-column-start: 2;
    padding-left: 3rem;
}

.price-details {
    height: 3rem;
    font-size: 2rem;
    font-weight: bold;
}

.image-details {
    height: 18rem;
    align-self: center;
}

.color-details {
    height: 3rem;
    width: 6rem;
    border: 2px solid #C7DAC7;
    border-radius: 10px;
    background-color: #D5EDD5;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: center;
    margin-bottom: 1rem;
}

.color-color {
    margin: 0;
}

.image-details-min {
    height: 80%;
    grid-column-start: 1;
}

.product-container {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 50% 50%;
}

/*.helptext{*//*


*/
/*
visibility: hidden;
*//*




*/
/*.form-group ul {
  visibility: hidden;
}*//*


.product {
    background-color: lightblue;
    color: black;
    border-color: lightcyan;
}



.no-results{
  text-align: center;
}

.m-2{


  display: grid;
  justify-content: center;
  align-content: center;
  background-color: floralwhite;
  border: darkcyan;
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  border-radius: 10px 3px 10px 3px;
}

.products {

  display: grid;
  background-color: #e8c291;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  grid-auto-rows: 2fr;
}

.min-height {

    min-height: 60rem;
}

.main-page {
  display: flex;
  flex-wrap: nowrap;
}


*/
/*
.grid {
  display: grid;
  grid-template-rows: 110px auto 200px;
}
*//*


*/

