body {
    font-family: 'Roboto';
}

.multi-product-container {
    width: 15rem;
    height: 20rem;
    margin: 2rem 1rem 0rem 2rem;

    padding: 1rem;

    display: grid;
    justify-content: stretch;
    align-items: center;
    text-align: center;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 5fr 1fr 1fr 1fr 1fr;



    background-color: #F9F9F9;
    border-radius: 25px 0px 25px 0px;
    box-shadow: 6px 6px 15px rgba(0,0,0,.2);

    justify-self: center;

}

/* unvisited link */
a {
  color: #494949;
}



/* mouse over link */
a:hover {
  text-decoration: none;
  color: black;
}

.images {
    max-height: 7rem;
}

.grid-image {
    justify-self: center;
    grid-column-start: 2;



    grid-row-start: 1;
    grid-row-end: 1;
}

.product-price {
    font-size: 0.8rem;
    font-weight: bold;
    grid-column-start: 2;
    justify-self: start;
    align-self: end;
    margin-bottom: 3px;
}

.product-name {
    grid-column-start: 2;

}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}


hr {
    justify-self: center;
    width: 100%;


    border: 0;
    border-top: 2px solid #ccc;
    margin: 1em 0;
    padding: 0;
    grid-column-start: 2;

    grid-row-start: 2;
    grid-row-end: 2;
}

.atc-btn {
    grid-column-start: 2;
    justify-self: center;
    width: 100%;


    background-color: #C7DAC7 !important;

    color: #494949;
    border: none;
    outline: none;
    border-radius: 10px;

}

.atc-btn:hover {
    background-color: #4CAF50 !important;
    color: white;
}




.atc-btn-min {
    grid-column-start: 2;
    justify-self: center;
    width: 80%;
    height: 3rem;
    display:block;
    background-color: #C7DAC7;
    color: #494949;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

/*.products-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: end;
    grid-gap: 2rem;
    margin-top: 2rem;
}*/

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


#sidebar {
    grid-row-start: 1;
    grid-column-start: 2;
}

.content-container {
    display: grid;
    grid-template-columns: 10% 1fr 3fr 10%;
}

.min-height {
    grid-column-start: 3;
}

.profile{
  width: fit-content;
  padding: 20px;
  background-color: lightgrey;
  border: darkcyan;
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
}

.product-name-details {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 1rem;
}

.details-container {
    height: 23rem;
    width: 24rem;
}

.image-container {
    background-color: #EDEDED;
    grid-column-start: 1;
    display: grid;
    justify-content: center;
}

.product-details {
    grid-column-start: 2;
    padding-left: 3rem;
}

.price-details {
    height: 3rem;
    font-size: 2rem;
    font-weight: bold;
}

.image-details {
    height: 18rem;
    align-self: center;
}

.color-details {
    height: 4rem;
    width: 8rem;
    border: 2px solid #C7DAC7;
    border-radius: 10px;
    background-color: #D5EDD5;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: center;
    margin-bottom: 1rem;
}

.color-color {
    margin: 0;
}

.image-details-min {
    height: 75%;
    grid-column-start: 1;
}

.product-container {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 50% 50%;
}

.history-header {
    grid-column-start: 2;
    margin-top: 2rem;
    justify-self: center;
}

.search-history {
    justify-self: center;
    grid-column-start: auto;
}

.history-container {
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    margin-top: 1rem;
}

