.product {
    background-color: lightblue;
    color: black;
    border-color: lightcyan;
}

.m-2{
    background-color: floralwhite;
    border: darkcyan;

}

.test{
    border: 2px black;
    background-color: black;
    flex-wrap: wrap;
    display: flex;
}

