  .logo {
    height: 5rem;
    padding-bottom: 1rem;
  }

  .logo-container {
    grid-column-start: 2;
    justify-self: start;
  }

  .nav-container {
    position: sticky;
    z-index:1;
    top: 0;
    display: grid;
    grid-template-columns: 10% 15% auto 25% 10%;
    justify-items: center;
    align-items: center;
    background-color: #EDEDED;
    height: 110px;
    }

  .search-bar-container {
    grid-column-start: 3;
    position: relative;
  }

  .submit {
    position: absolute;
    color: #808080;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    top: 11px;
    left: 360px;
  }

  .search-bar {
    color: #808080;
    padding-left: 25px;
    background: white;
    border: none;
    height: 3rem;
    width: 25rem;
    border-radius: 4px;

  }



  .logout-btn{
    background-color: #444444;
  }


  input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
  input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration { display: none; }


.dropdown-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: end;
}




  .arrow {
      border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
}





   ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    float: right;
    background: #eee;
    border-radius: 3px;
  }


    /*login style*/


  #login-trigger {
    cursor: pointer;
    height: 110px;
    width: 200px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 49% 2% 49%;

    /*padding: 0 8px;*/
    text-decoration: none;
    color: #444;
    decoration: none;
    background: #EDEDED

  }

  .far {
    font-size: 2rem;
    font-weight: lighter;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
  }


  #hello {
    font-size: 14px;
    align-self: end;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  #my-account {
    align-self: start;
    font-weight: bold;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  #arrow {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
  }




    /*Nav hover*/
  #login-trigger:hover,
  #login .active,
  #signup a:hover {
    background-color: #DFDFDF;
  }

    /*Slide down sticker*/
  #login-content {
    display: none;
    position: absolute;
    top: 110px;
    right: 0;
    z-index: 999;
    background-color: #DFDFDF;
    padding: 15px;
    box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
    border-radius: 3px 0 3px 3px;
  }

    /*slide down box*/
  #login-content {
    /*right: 0;*/
    width: 250px;
  }

    /*Input style*/
  #inputs input {
    background: #f1f1f1;
    padding: 6px 5px;
    margin: 0 0 5px 0;
    width: 238px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 1px #ccc inset;
  }

    /*Þegar inputið er selectað*/
  #inputs input:focus {
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    box-shadow: 0 0 0 1px #e8c291 inset;
  }


   /*Login button*/
  #login #submit {
    background-color: #d14545;
    background-image: linear-gradient(top, #e97171, #d14545);
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3),
                0 1px 0 rgba(255, 255, 255, 0.3) inset;
    border: 1px solid #7e1515;
    float: left;
    height: 30px;
    padding: 0;
    width: 100px;
    cursor: pointer;
    font: bold 14px Arial, Helvetica;
    color: #fff;
  }


  /*Hover login*/
  #login #submit:hover,
  #login #submit:focus {
    background-color: #e97171;
    background-image: linear-gradient(top, #d14545, #e97171);
  }





