select {
    width: 165px;
}

#sidebar {
    min-width: 300px;
    max-width: 300px;
    background-color: #EDEDED;
    height: 412px;
    margin-top: 2rem;
}

<<<<<<< HEAD

.option {
    border: 1px solid #a0a0a0;
    height: 1.5rem;
    width: 100%;
    border-radius: 3px;
    color: #494949;

=======
#submit-border {
    border-top: solid 1px black;
>>>>>>> parent of 77277ef... stylish
}

.sidebar-container {
    margin: 1rem;
}

.filter-container {
    text-align: center;
}

.filter-border {
    border-bottom: solid 1px black;
}

.filter-btn-style {
<<<<<<< HEAD
    margin-top: 1rem;
    width: 6rem;
    background-color: #55ccd4;
    font-weight: 600;
    color: #494949;
    font-size: 1rem;
    border: transparent;
    border-radius: 5px;

}
<<<<<<< HEAD

.filter-btn-style:hover {

    background-color: dimgray;

    color: white;


}

.btn {
    background-color: #6c757d;
    border-color: #6c757d;
}
=======
>>>>>>> parent of 578f3a9... filter sticky
=======
    width: 120px;
    font-weight: bold;
    background-color: deepskyblue;
    font-size: 1.5rem;
    border: solid 3px black;
    border-radius: 15px;
}
>>>>>>> parent of 77277ef... stylish
