{% extends "base.html" %}
{% block content %}


    <div class="account-details">
        <div class="account-styling">
            <h1>Edit Profile</h1>
            <img class="profile-pic" src="{{ user.imgURL }}">
            <h3>{{ user.email }}</h3>
            <form class=" form-horizontal" action="{% url 'editProfile' %}" method="post">
                {% csrf_token %}
                {{ editProfileForm.as_p }}
                <input type="submit" class="btn btn-primary" value="Save Changes">
                <a href= "{% url 'account' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>

{% endblock %}