{% extends 'base.html' %}

{% block content %}
<!--<p>Welcome to the product page, rendered from ./product/index.html</p>-->

    <div class="cart-grid">
        <h1 class="h1-c1 product-name-details" >My Cart</h1>
        <div class="cart-container">

            {% for product in cart.values %}
                <div class="cart-item">
                    <a href="{% url 'removeFromCart' product.id %}" class="btn btn-danger cart-btn">x</a>
                    <!-- We display multiple single_product.html components-->
                    {%  include 'cart/single_product_cart.html' with product=product%}
                </div>
                {% empty %}
                <h1>Your cart is empty</h1>

            {% endfor %}
            {% if cart.values %}
                <a class="btn btn-primary"  href="{% url 'checkoutShipping' %}">Checkout</a>
            {% endif %}

        </div>
    </div>

{% endblock %}