{% extends "base.html" %}

{% block content %}

    <div style="display: flex; flex-wrap: nowrap">

        <div style="display: flex">
            {% include 'user/account/paymentmethod/paymentmethod_details.html' %}
        </div>

        <div class="cart-container" style="padding-top: 20px; width: fit-content">
            {% for product in cart.values %}
                <div style="display: flex; width: 40rem">
                    <!-- We display multiple single_product.html components-->
                    {%  include 'cart/single_product_cart.html' with product=product%}
                </div>
            {% endfor %}
            <h3>Shipping:  + $50 US</h3>
            <h3>Total: ${{ total }} US</h3>
        </div>

        <div style="display: flex; align-self: flex-end">
            {% if hasPaymentMethod %}
                <a href="{% url 'reviewOrder' %}" class="btn btn-primary" style=" width: 14rem; color: white ">Proceed</a>
            {% else %}
                <a href="{% url 'paymentOrder' %}" class="btn btn-primary" style=" width: 14rem; color: white ">Proceed 2</a>
            {% endif %}
        </div>

    </div>


{% endblock %}