{% extends "base.html" %}

{% block content %}

        <div class=" name-style shipping-options">
            <h2>SHIPMENT OPTIONS implemented here</h2>
        </div>

        <div style="display: flex; flex-wrap: wrap">
            <div class="cart-container" style="padding-top: 20px; width: fit-content">
                {% for product in cart.values %}
                    <div style="display: flex; flex-wrap:wrap; width: 40rem">
                        <!-- We display multiple single_product.html components-->
                        {%  include 'cart/single_product_cart.html' with product=product%}
                    </div>
                {% endfor %}
            </div>

            <div style="display: flex; align-self: flex-end">
                <a href="{% url 'shippingMethod' %}" class="btn btn-primary" style=" width: 14rem; color: white ">Complete Order</a>
            </div>
        </div>

{% endblock %}